<h1><%= @restaurant.name %></h1>
Address: <%= @restaurant.address %><br>
Phone: <%= @restaurant.phone %>

<br>
<br>
<section>
<h2>Reviews</h2>
</section>
<%= render @restaurant.reviews.order(created_at: :desc) %>


<br>

<section>
	<%= render 'reviews/form' %>
</section>

<br>

<%= link_to 'Back', root_path %>