<h1><%= @restaurant.name %></h1>
Address: <%= @restaurant.address %><br>
Phone: <%= @restaurant.phone %>

<br>
<br>
<br>

<section id="review-section">
	<h2>Reviews</h2>
		<%= render @restaurant.reviews.order(created_at: :desc) %>
</section>

<br>

<section>
	<% if session[:user_id] %>
		<%= link_to 'Add a Review', @restaurant, id: 'new_review_link'%>
		<%= render 'reviews/form' %>
	<% else %>
		<p><%= link_to 'Log in here', login_path %> to leave a review </p>
	<% end %>
</section>

<br>

<%= link_to 'Back', root_path %>

<script>
	$('#new_review').hide();
	$("#new_review_link").click(function(event){
		event.preventDefault();
		$("#new_review").slideDown();
	});


</script>